{% extends "_layout" %}

{% block progress %}
    <progress value="0"></progress>
{% endblock %}

{% block body %}
<article>
    <div class="section component-story">
        {% include "story/_includes/_matrix-blocks.html" %}
</article><!-- single story section -->

{% include "story/_includes/_comments.html" %}

{% endblock %}