{% extends "_layout" %}

{% block progress %}
    <progress value="0"></progress>
{% endblock %}

{% block hero %}
<article>
    {% include "story/_includes/_story-entry-hero.html" %}
    <div class="story-header-wrap">
        {% include "story/_includes/_social.html" with {'txtPos':'text-center', 'algnPos':'align-center'} %}
    </div>
{% endblock %}

{% block body %}
    <div class="section component-story">
        {% include "story/_includes/_matrix-blocks-basic.html" %}
    </div>
</article>

{% include "story/_includes/_comments.html" %}

{% endblock %}


