{% extends "_layout" %}

{% block progress %}
    <progress value="0"></progress>
{% endblock %}

{% block hero %}
<article>
    <div class="section single-story-hero">
        {% include "story/_includes/_feature-entry-hero.html" %}
    </div>
    <div class="story-header-wrap">
        {% include "story/_includes/_social.html" with {'txtPos':'text-center', 'algnPos':'align-center'} %}
    </div>
{% endblock %}

{% block body %}
<div class="section component-story">
    {% include "story/_includes/_matrix-blocks.html" %}
</div>
</article><!-- single story section -->

{% include "story/_includes/_comments.html" %}

{% endblock %}


