{% extends "_layout" %}

{% block body %}
    {% set storyType = craft.app.request.segments|last %}
    {% if storyType == 'feature' %}
        {% set featureItems = craft.entries({
            section:    'story',
            search:     'isFeatured:1',
            limit:      9
        }) %}
        {% set storyType = 'Feature' %}
        {% set entries = featureItems.all() %}
        {% paginate featureItems as pageInfo, pageEntries %}
    {% else %}
        {% set recentItems = craft.entries({
            section:    'story',
            limit:      9
        }) %}
        {% set storyType = 'News' %}
        {% set entries = recentItems.all() %}
        {% paginate recentItems as pageInfo, pageEntries %}
    {% endif %}

    <section class="article__list-all">
        <div class="grid-container">
            <h1>All {{ storyType }} Stories</h1>
            <div class="grid-x grid-margin-x grid-margin-y" data-equalizer>
                    {% for entry in pageEntries %}
                                {% if entry.isFeatured %}
                                    {% set storyType = 'Feature' %}
                                {% else %}
                                    {% set storyType = 'News' %}
                                {% endif %}
                                <div class="cell medium-6 large-4 article">
                                    <a href="{{ entry.url }}">
                                    <article class="article-list-all__item"  data-equalizer-watch>
                                        <p class="artile__category">{{ storyType }}</p>
                                            <h2>{{ entry.title }}</h2>
                                        <p class="article__lead-paragraph">
                                            {{ entry.storyLeadParagraph | chop(limit=15, unit='w', append='...') }}
                                        </p>
                                        <button class="article__single-link button">read it</button>
                                        <span class="slider"></span>
                                    </article>
                                    </a>
                                </div>
                    {% endfor %}
            </div>
            
            {% for page, url in pageInfo.getPrevUrls() %}
               <a href="{{ url }}" class="article-list-all__paagination-item">{{ page }}</a>
            {% endfor %}
                <span class="current article-list-all__paagination-item">{{ pageInfo.currentPage }}</span>
            {% for page, url in pageInfo.getNextUrls() %}
               <a href="{{ url }}" class="article-list-all__paagination-item">{{ page }}</a>
            {% endfor %}

            {% if pageInfo.totalPages - pageInfo.currentPage > 1 %}
                <span>...</span>
                <a href="{{ pageInfo.lastUrl }}">{{pageInfo.totalPages}}</a>
            {% endif %}

        </div>
    </section>
{% endblock %}