{% extends "_layout" %}

{% block progress %}
    <progress value="0"></progress>
{% endblock %}

{% block hero %}
<article>
    <div class="section single-story-hero">
        {% include "story/_includes/_single-entry-hero.html" %}
    </div>
    <div class="story-header-wrap">
        <div class="grid-x story-header show-for-small-only">
            <div class="cell feature-story-meta">
                <div class="grid-container">

                    <div class="text-center medium-10 medium-offset-1">
                        <div class="story-header-content">
                            <div class="field-department">Feature</div>
                            <div class="pub-date pub-date-news">
                                Posted July 9, 2018
                            </div>
                            <h1 class="feature-story-title" id="storytitle">
                                {{ entry.title }}
                            </h1>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% include "story/_includes/_social.html" %}
    </div>
{% endblock %}

{% block body %}
<div class="grid-container">
    <div class="grid-x">
        <div class="cell small-12 medium-8 medium-offset-2">
            {{ entry.title }}
            {{ entry.body }}
        </div>
    </div>
</div>
</article>
{% endblock %}

