.aside {
  border-radius: 25px;
  // ASIDE STYLES
  &.align-aside {
    width: 50%;
    margin: 0 0.50em 0 -10%;
    float: left;
    clear: both;
    padding: 0;

    @include breakpoint(small only){
      width: 100%;
      margin: 0 0 .5em 0;;
    }
  }

  // INLINE STYLES
  &.align-inline{
    width: 100%;
    max-width: 500px;
    margin: 0 auto 0 auto;

    @include breakpoint(medium down){
      width: 100%;
      margin: 0;
    }
  }  
    @include breakpoint(small) {
      font-size: 1.8rem;
      line-height: 2.1rem;
    }
    @include breakpoint(medium) {
      font-size: 1.7rem;
      line-height: 2rem;
      width: 100%;
    }
    @include breakpoint(large) {
      font-size: 2.5rem;
      line-height: 2.8rem;
    }
  }

  // SIDE BAR CONTENT - TITLE AND PARAGRAPH

  .aside--sidebar{
    border-top: .33em black solid;
    background: antiquewhite;
    flex: 1;
    border-radius: 5px;
    
    h3{
      font-family: 'Roboto', sans-serif;
      padding: 1em 1.25em;
      margin: 0;
    }
    p {
      font-family: 'Lato', sans-serif;
      line-height: 1.6rem;
      padding: 0 1.25em 1.25em 1.25em;
    }
    img{
      padding: 0;
      width: 100%;
    }
  }