.grid-container.component-comments {
  margin-bottom: $element-vertical-space * 6;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint(small only){
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  @include breakpoint(medium){
    padding: 0 3rem;
  }
}