.feedback {
    overflow: hidden;
    background: $white;
    transition: all .2s;
    width: 100%;
}

.feedback-submit {
    background-color: $red;
    text-transform: uppercase;
    font-family: $body-font-family-sans;
    font-size: 1.1rem;
    font-weight: 300;
    color: $white;
    border-radius: 0.187rem;
    border: 0;
    padding: 0.625rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.button.secondary.feedback-open {
    font-family: $body-font-family-sans;
    background-color: rgba(255,255,255,.8);
    color: $red;
    font-weight: 700;
    font-size: 1.1rem;
    border: 1px solid $dark-gray;
}

.thanks{
    display: none;
    margin: 0 2rem;
    &__success{
        display: none;
        color: get-color('primary');
    }
    &__error{
        display: none;
        color: get-color('alert');
        padding: 0;
    }
    &--active{
        display: block;
        margin: 1rem 0;
        font-size: 1.5rem;
    }
}
.thanks__close{
    cursor: pointer;
    background-color: get-color('secondary');
    color: $white;
    padding: .5rem;
    width: 25%;
}
#form-confirmation{
    padding: 0;
}
#ohhoney{display:none;}