// footer
// ---------
.site-footer {
  position: relative;
  background-color: #010101;
  padding-top: 80px;
  padding-bottom: 80px;
  color: $white;
  font-family: $body-font-family-sans;
  @include breakpoint(small down) {
    text-align: center;
  }
  .site-footer-content {
    @include xy-grid();
    @include breakpoint(small only){
      display: flex;
      flex-direction: column;
    }
  }
  .footer-logo {
    @include xy-cell(7 of 12);
    height: 50px;
    padding-top: 100px;
    background: transparent url('../img/logo-cwu.png') center left no-repeat;
    @include breakpoint(small only){
      width:100%;
      margin:0;
      background-position: top center;
    }
  }
  .footer-contact {
    @include xy-cell(5 of 12);
    @include breakpoint(small only){
      width:100%;
      margin:0;
    }
  }
}
.footer-actions {
  position: relative;
  @include deg-line(auto, 10px, transparent, $light-gray, 0, 0);
  background-color: #ffffff;
  padding: 15px 0;
  a.button {
    margin-bottom: 0;
    font-family: $body-font-family-sans;
    background-color: transparent;
    color: $red;
    font-weight: 800;
    font-size: 1.3rem;
  }
}