// Global
// ---------
@mixin deg-line($height, $gap, $bg-color, $line-color, $margin-top, $margin-bottom){
  height: $height;
  background-color: $bg-color;
  margin: $margin-top 0 $margin-bottom 0;
  border: none;
  background-image:
          -webkit-repeating-linear-gradient(45deg, $line-color, $line-color 1px, transparent 1px, transparent $gap);
  background-image:
          -moz-repeating-linear-gradient(45deg, $line-color, $line-color 1px, transparent 1px, transparent $gap);
  background-image:
          -o-repeating-linear-gradient(45deg, $line-color, $line-color 1px, transparent 1px, transparent $gap);
  background-image:
          repeating-linear-gradient(45deg, $line-color, $line-color 1px, transparent 1px, transparent $gap);
}
.blanket {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0, .5);
  transition: all .2s ease-in-out;
}
.section {
  margin-bottom: 60px;
  position: relative;

  .section-title {
    margin-bottom: $element-section-title-vertical-space;
  }
  figure {
    margin-bottom: $element-vertical-space;
  }
}
.all-link {
  p {
    margin-bottom: 0;
    font-family: $body-font-family-sans;
  }
}

/* Diagnal border hr */
.section-divider {
  @include deg-line(12px, 10px, transparent, $dark-gray, 50px, 0);
}

/* Share Links */
.component-share {
  .links a svg {
    display: block;
    fill: currentColor;
    width: 2em;
    height: 2em;
  }
  .service-label {
    display: none;
  }
}
.section.single-story {
  .pub-date {
    display: inline-block;
    padding-bottom: 1rem;
  }
}
.button {
  border: 1px solid $dark-gray;
}