.hero_video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}