// Hero
// ---------
.hero {
  margin-bottom: $element-vertical-space;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  margin-bottom: 1.875rem;

    .replaced {
      height: 300px;
      z-index: 10;

      @include breakpoint(medium) {
        height: 500px;
      }
      @include breakpoint(large) {
        height: 670px;
      }
      @include breakpoint(xlarge) {
        height: 800px;
      }
    }


  img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
  }
  hr {
    margin: 0;
    max-width: 100%;
  }
}
.stories-issue {
  position: relative;
  overflow: hidden;
  z-index: 15;

  .story-summary {
    margin-bottom: 15px;
    @include breakpoint(small) {
      display: block;
    }
    @include breakpoint(medium) {
      display: none;
    }
    @include breakpoint(large) {
      display: block;
    }
  }
}
.feature-story-meta-small {
  position: relative;
  z-index: 15;
  text-align: left;
  background-size: 100%;
  padding: 0 1.5rem;  
   h1 {
      font-size: 2rem;
      line-height: 2.4rem;
   }
   .byline-label {
    color:$red;
    font-weight: 700;
  }
  .byline, .pub-date {
    font-family: $body-font-family-sans;
    font-weight: 400;
  }
}


.feature-story-meta {
  position: absolute;
  z-index: 15;
  background-size: 100%;
  bottom: 100px;
  left: 0;
  color: #fefefe;
  padding: 1.875rem;
  text-align: left;
  background-color: rgba(0,0,0,.8);

  @include breakpoint(medium) {
    width: 60%;
  }
  @include breakpoint(large) {
    padding-left:  10rem;
    width: 65%;
  }

  a {

    &:hover {
      color: $light-gray;
      transition: all .2s ease-in-out;
    }
  }

  h1.feature-story-title {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 30px;

    @include breakpoint(medium) {
      font-size: 3.5rem;
      line-height: 1;
    }
    @include breakpoint(large) {
      font-size: 4rem;
      line-height: 1;
    }
  }
  .feature-story-title-link{
    color: white;
    &:hover{
      color: $red;
    }
  }
  .story-summary {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 30px;
    display: none;
    
    @include breakpoint(large) {
      display: block;
    }
  }
  .byline, .pub-date {
    font-size: 1.3rem;
    font-family: $body-font-family-sans;
    font-weight: 400;
  }
  .byline-label {
    color:$red;
    font-weight: 700;
  }
  .story-summary,  .byline, .pub-date {
    @include breakpoint(medium down) {
      font-size: 1.2rem;
    }
    @include breakpoint(small down) {
      font-size: 1rem;
    }
  }
}
.story-header--basic {
  .byline-label {
    padding: 0 .5rem;
  }
}
.meta { /* for feature story single post page */
  padding: 0 1.5rem;
  &.basic-page {
    margin-top: $element-vertical-space*3;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 1.1rem;

    @include breakpoint(large) {
      font-size: 3.3rem;
      line-height: 1.1;
    }
  }
}
.stories-wrapper {
  background-color: #ffffff;
  padding: $element-section-title-vertical-space 1.5rem 0;
}