// Index Sections
// ---------
.story-hero * {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;

  .feature-story-meta {
    position: absolute;
  }
}

// Web Exclusive
// ---------
.web-exclusive {
  p {
    margin-bottom: 0;
  }
  .h3 {
    line-height: 1.25rem;
  }
  .story-wrapper {
    img {
      margin-bottom: $element-vertical-space;
    }
  }
  .recent-stories .cell.medium-4.large-3:nth-child(4) {
    @include breakpoint(medium down){
      display: none;
    }
  }
}


// Feature sections
// ---------
.feature-sections{
  .show-for-small-only{
    p {
      color: $black;
    }
  }
}
.nav-sections-feature-story {
  position: relative;
  z-index: 1;
  margin-bottom: $element-vertical-space;
  overflow: hidden;
  
  img {
    transition: all .2s ease-in-out;
  }
}
.nav-sections-feature-story__content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding-right: 20px;
  z-index: 500;
  color: darken($white, 10%);
  p {
    margin-bottom: 0;
    & small {
      font-family: $body-font-family-sans;
    }
  }
  h5 {
    text-transform: none;
    margin-bottom: 0;
  }
  a {
    color: $white;
  }
}
.feature-sections .feature-stories .cell.medium-6.large-4:nth-child(4),
.feature-sections .feature-stories .cell.medium-6.large-4:nth-child(3) {
  @include breakpoint(medium down){
    display: none;
  }
  @include breakpoint(large){
    display: block;
  }
}
.nav-sections-feaature-story__common-stories {
  ul {
    list-style-position: inside;
    margin-left: 0;
    li {
      border-bottom: 1px solid $medium-gray;
      padding: 7px 0;
      color:$red;
      a {
        display: inline-block;
        color: $top-tier-link-color;
        font-family: $body-font-family-sans;
        max-width: 300px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
      }
    }
  }
}
.nav-section-small {
  background-color: $light-gray;
  padding: 20px;
  ul {
    list-style: none;
    margin: 0;
    margin-bottom: $element-vertical-space;
  }
  li {
    border-bottom: 1px solid $medium-gray;
    padding: 7px 0;
  }
}
.nav-section-small.section-title {
  h2 {
    margin-bottom: $element-section-title-vertical-space;
  }
}
.section-title {
  @include breakpoint(small down) {
    h2 {
      font-size: 1.24rem;
    }
  }
}


// Video
// ---------
.section.media {
  padding-bottom: 160px;
  margin-bottom: 0;
}
.responsive-embed {
  margin-bottom: 0;
}
.media-container {
  .responsive-embed {
    margin-bottom: 0;
  }
}


