// Masthead
// ---------
.site-header {
  background-color: $white;
  z-index: 20;
  position: relative;
  height: auto;
  width: 100%;
  padding: 25px 0 15px;
  -webkit-box-shadow: 9px 15px 29px -16px rgba(0,0,0,0.69);
  -moz-box-shadow: 9px 15px 29px -16px rgba(0,0,0,0.69);
  box-shadow: 9px 15px 29px -16px rgba(0,0,0,0.69);

  @include breakpoint(small down) {
    // height: 60px;
  }

  font-family: $body-font-family-sans;
  a {
    color: $black;
    text-transform: uppercase;
    font-weight: $global-weight-bold;
  }
  .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: $black transparent transparent;
  }
  .main-navigation {
    background-color: $white;
    border-bottom: 3px solid $light-gray;
    .top-bar {
      background-color: $white;
    }
    ul {
      background-color: $white;
      @include xy-grid-container();
    }
    .top-bar-right {
      margin: 0;
      padding: 0;
    }
  }
}
.masthead {
  @include breakpoint(small down) {
    height: 40px;
    width: 250px;
    background-position: center left;
  }
  @include breakpoint(medium) {
    // height: 50px;
  }
  @include breakpoint(large) {
    // height: 60px;
  }
}
.masthead-a {
    img {
      width: 21.875rem;
      @include breakpoint(small) {
        width: 18rem;
      }
    }
}
.alpha-section {
  @include deg-line(auto, 10px, $black, $light-black, 0, 0);

  position: relative;
  z-index: 1;
  color: $white;
  padding: 7px 0;
  font-family: $body-font-family-sans;
  text-transform: uppercase;
  font-size: .875rem;
}