// 1. MENU BUTTON
// --------------

.open-menu-label {
  z-index: 999;
  color: black;
  right: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 35px;
  position: relative;
}

.pipe{
  position: absolute;
  display: block;
  background: black;
  min-height: 2px;
  min-width: 30px;
  transition: all .2s linear;

&__one{
   display:block;
   top: .3rem;
   position: absolute;
   right: 0px;
 }
 &__two{
   top: .8rem;

 }
 &__three{
   top: 1.3rem;
 }
}
.pipe-one__active{
  top: .8rem;
  transform: rotateZ(225deg);
}
.pipe-two__active{
  transform: rotateZ(225deg);
}
.pipe-last__active{
  transform: rotateZ(-225deg);
}
.pipe-two__active, .pipe-last__active {
  top: .8rem;
}

// 2. SIDE MENU
// -------------
.site-header__side-menu {
  z-index: 999;
  position: fixed;
  right: -20rem;
  height: 91%;
  width: 20rem;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: get-color(crimson);;
  transition: all .2s;
  @include breakpoint(medium down) {
    top: 95px;
  }
  @include breakpoint(small down) {
    top: 90px;
  }
}
.menu-top {
  border-bottom: 1px $white solid;
  height: 4rem;

  &--searchbox {
    padding: 15px;
  }
  a{
    &:hover{
      color:white;
      text-decoration: underline;
    }
  }
  button {
    background-color: get-color(crimson);;
  }
}
.active{
  right: 0px;
}
// 3. HOME & PDF MENU ICONS
// -----------------------
.nav-archive__icon {
  margin-right:.675rem;
}
.svg-inline--fa.fa-w-18, .svg-inline--fa.fa-w-12{
  width:1.25rem;
}
.side-menu__nav-archive {
  background-color: $light-black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side-menu__nav-archive-link {
  color: $white;
  text-decoration: none;
  font-size: 1.25rem;
  font-family: $body-font-family-sans;
  font-weight: 700;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 1.875rem;
}
// 4. MOST RECENT
// ---------------
.side-menu__nav-recent {
  text-transform: uppercase;
  font-size: .75rem;
  background-color: $dark-black; 
  padding: .5rem;
  padding-left: 1.875rem;
  font-family: $body-font-family-sans;
  font-weight: 300;
}
.side-menu__nav-recent p {
  margin: 0;
  color: $white;
}
.side-menu__tag {
  font-size: .75rem;
  font-family: $body-font-family-sans;
  font-weight: 400;
  margin: 0;
}
.side-menu__more-recent {
  color: $white;
  font-size: .75rem;
  font-family: $body-font-family-sans;
  font-weight: 700;
  text-align: right;
  display: block;
}
.side-menu__more-recent:hover {
  color: $white;
  text-decoration: underline;
}
// 5. MENU LINKS
// -------------
.side-menu__nav-list {
  list-style: none;
  padding: 1.875rem;
  margin:0;
}
.side-menu__nav-list-item__hr {
  background-color: rgba(255,255,255,0.2);
  border:0;
  height: .125rem;
  display:block;
  margin-top: .938rem;
  margin-bottom: .938rem;
}
.side-menu__nav-list-item {
  color: $white;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 700;

}
.side-menu__nav-list-item:hover {
  color:$white;
  text-decoration: underline;
}
// 6. PREVENT BODY SCROLL
// ----------------------
.freeze {
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}

// 7. NAV
.side-menu__nav{
  display: flex;
  flex-direction: column;
}