// Register Box
// ---------
.register-box-form {
  background-color: lighten($light-gray, 3%);
  padding: 3.125rem;
  text-align: center;
  h4 {
    padding: 0;
    margin-bottom: $element-vertical-space;
    line-height: $element-vertical-space+15px;
  }
  input[type=button], input[type=submit] {
    font-family: $body-font-family-sans;
    text-transform: uppercase;
    font-weight: 700;
    color: $white;
    background-color: $red;
    border-radius: 3px;
    border: 0;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
  }
  input[type=button]:active{
    background-color:$dark-gray;
  }
  input[type=text], input[type=email] {
    padding: 0;
    border: 0;
    border-bottom: 1px solid darken($light-gray, 15%);
    background-color: lighten($light-gray, 3%);
    box-shadow: none;
    margin-bottom: $element-vertical-space;
    font-family: $body-font-family-sans;
    color: $dark-gray;
  }
  .response {
    font-size: .9rem;
    margin-bottom: 1rem;
    background-color: get-color(success);
    padding: 10px;
    color: #155724;
    font-family: sans-serif;
    border: none;
  }
}