.lg-only-search{
    display: flex;
    height: 2rem;
    .lg-only-search-input{
        height: 100%;
        margin: 0;
        padding: 15px;
    }
    button[type=submit]{
        font-size: 1.125rem;
        max-width: 36px;
        background-color: get-color(crimson);
        color: #fefefe;
        cursor: pointer;
    }
    a {
        margin-right: 5px;
    }
}
.submit{
    color: white;
    height: 100%;
}

.search{
    height: 100%;

    input{
        height: 100%;
    }
}