// Single
// ---------
progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;

  /* Dimensions */
  width: 100%;
  height: 5px;

  /* Reset the appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: $color-crimson;
}
progress::-webkit-progress-bar {
  background-color: transparent;
}
progress::-webkit-progress-value {
  background-color: $color-crimson;
}
progress::-moz-progress-bar {
  background-color: $color-crimson;
}

.single-story { /* targets the actual text of the single story */
  padding: 0 1.5rem;
  font-size: 1rem;
  ul.social{
    padding: 1rem 0;
    border: 1px solid $medium-gray;
    border-left: none;
    border-right: none;
  }
  .story-meta {
    margin:.5rem 1.5rem;
    font-family: $body-font-family-sans;

    .component-share-label {
      display: inline-block;
      padding-bottom: $element-section-title-vertical-space/2;
    }
    svg {
      width: 24px;
    }
  }

  p {
    margin-bottom: 1.5rem;
    @include breakpoint(small) {
      font-size: 1.125rem;
    }
    @include breakpoint(medium) {
      font-size: 1.2rem;
    }
  }
  figure{
    margin-bottom: $element-vertical-space + 10px;
  }
  .caption{
    color: $dark-gray;
  }
  .align--left {
    margin: 0 1.875rem 0 -10%;
    float: left;
    clear: both;
    padding-top: 0;
    padding-left: 0;
    max-width: 500px;
    @include breakpoint(small only){
      width: 100%;
      margin: 0 0 .5em 0;;
    }
  }

  .align--right {
    margin: 0 -10% 0 1.875rem;
    float: right;
    clear: both;
    padding-top: 0;
    padding-right: 0;
    max-width: 500px;
    @include breakpoint(small only){
      width: 100%;
      margin: 0 0 .5em 0;;
    }
  }

  .align--center{
    float: unset;
    margin: 0;
    
    img{
      width: 100%;
    }
  }

  img.align--center, img.align--full,
  img.align--left.align--center, img.align--right.align--center {
    padding: 0;
  }
  img.align--left.align--center, img.align--right.align--center {
    float: unset;
    margin: 0;
  }
  .grid-xx {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    img {
      width: 100%;
      padding: 0;
    }
  }
}
.byline {
  padding: 0 .5rem;
  text-transform: uppercase;
}
.section.single-story{
  padding: 0;
}
.single-story-hero {
  position: relative;
  margin: 0;

  .hero {
    position: relative;
    transition: height 1s ease-out;
    -webkit-transition: height 1s ease-out;
    -moz-transition: height 1s ease-out;
    -o-transition: height 1s ease-out;
  }
  .story-header {
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
  }
  .field-department, .pub-date-news {
    display: none;
  }
}
.story-header--basic{
  padding: 0 1.5rem;
}
.story-title{
  margin-top: $element-section-title-vertical-space;
  line-height: 1;
  font-weight: 700;

  @include breakpoint(small only){
    font-size: 2rem;
  }
}
.show-for-small-only {
  .feature-story-meta {
    padding-top: 0;
    .field-department, .pub-date-news {
      display: none;
    }
  }
}
.component-story {
  margin-top: $subheader-margin-top
  a {
    text-decoration: underline;
  }
  .component-story__lead-paragraph {
    font-family: $body-font-family-sans;
    font-weight: 300;
    p {
      padding: 0 1.5rem;

      @include breakpoint(small) {
        font-size: 1.4rem;
      }
      @include breakpoint(medium){
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
      @include breakpoint(large){
        font-size: 1.875rem;
        line-height: 2.875rem;
      }
    }
  }

}
.component-pullquote {
  &.align-aside {
    width: 50%;
    margin: 0 1.875rem 0 -10%;
    float: left;
    clear: both;
    padding: 0;

    @include breakpoint(small only){
      margin: 0;
      float: none;
    }
  }
  .quote {
    line-height: 1;
    color: $black;
    font-weight: 700;
    font-family: 'Chivo', sans-serif;
    font-style: normal;

    small {
      display: inline-block;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 1.5;
      margin-top: $element-vertical-space;
    }

    @include breakpoint(small) {
      font-size: 1.8rem;
    }
    @include breakpoint(large) {
      font-size: 2.4rem;
    }
  }
}

.content-media--video {
  background-color: #ddd;
  display: block;
  position: relative;
  padding: 0 0 56.25% 0;
  margin-bottom: $element-vertical-space;
  z-index: 20;
}
.content-media--video iframe {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#featured-video {
  transition: width .2s ease-in-out, height .2s ease-in-out, transform .38s ease-in-out;
}
/** Use .sticky */
#featured-video.is-sticky {
  position: fixed;
  top: 15px;
  left: auto;
  max-width: 235px;
  max-height: 130px;
  width: 235px;
  height: 130px;
}
@include breakpoint(medium) {
  #featured-video.is-sticky {
    transform: translateX(-110%);
  }
}
@include breakpoint(large) {
  #featured-video.is-sticky {
    transform: translateX(-111%);
    top: 25px;
    max-width: 300px;
    max-height: 170px;
    width: 300px;
    height: 170px;
  }
}
  @include breakpoint(xlarge) {
    #featured-video.is-sticky {
      transform: translateX(-108%);
      top: 30px;
      max-width: 410px;
      max-height: 230px;
      width: 415px;
      height: 230px;
    }
}
