.issues__meta{
    margin-bottom: $element-vertical-space;
}
.issues__content--single {
    padding-top: $element-vertical-space*2;
}
.issues{
    margin-top: $element-vertical-space*3;
    margin-bottom: $element-vertical-space*2;
    .issues__img{
        box-shadow: -1px 1px 10px black;
        margin-bottom: $element-vertical-space/2;
    }
}