.article__list-all {
  padding-top: $element-section-title-vertical-space*2;
  margin-bottom: $element-section-title-vertical-space*2;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  a{
    color: $black;
    &:hover {
      color: $black;
    }
  }
  article {
    padding: 1.875rem;
    border: 1px solid #c1c1c1;
    border-top: 7px solid $black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    .slider {
      position: absolute;
      display:block;
      left: 0;
      top:-7px;
      margin:0 auto;
      height: 7px;
      background-color: $red;
      width: 0%;
      transition: width 1s ease;
    }
    &:hover {
      -webkit-transform: scale(1.02);
      -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
      -o-transform: scale(1.02);
      transform: scale(1.02);
      cursor: pointer;
      .slider {
        width: 100%;
      }
    }
  }
    h1 {
      margin-bottom: $element-section-title-vertical-space + 10px;
    }
    h2 {
      line-height: 2.5rem;
      font-weight: 700;
      font-size: 2.25rem;
      margin-bottom: $element-section-title-vertical-space;
      @include breakpoint(small) {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: $element-section-title-vertical-space / 2;
      }
      @include breakpoint(large) {
        font-size: 2rem;
        line-height: 1.1;
      }
    }
    p {
      font-size: 1rem;
      line-height: 1.5;
    }
    .article-list-all__paagination-item {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #c1c1c1;
        margin-top: 30px;
        margin-right: 20px;
      &.current {
        background: $red;
        color: $white;
        border: unset;
      }
    }
  }
