<div class="reveal" id="reveal-form" data-reveal>
    <div class="grid-container">
        <div class="grid-x">
            <form method="post" action="" accept-charset="UTF-8" class="feedback grid-container" data-abide novalidate>
                <div class="grid-x grid-padding-x align-middle align-center">
                    {{ csrfInput() }}
                    <input type="hidden" name="action" value="contact-form/send">
                    <!-- {{ redirectInput('contact/confirmation?from={fromName}&message={message}&email={fromEmail}') }} -->
                    <div class="cell text-right">
                        <button class="close-button" data-close aria-label="Close modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="thanks__error small-12 text-center ">
                        <p></p>
                    </div>


                    <div data-closable class="thanks__success small-12 text-center">
                        <div class="thanks__success">
                            <p>Thanks for your feedback!</p>
                        </div>
                    </div>


                    <div class="small-12 medium-6 cell">
                        <h3><label for="from-name">Your Name</label></h3>
                        <input id="from-name" type="text" name="fromName" value="">
                    </div>
        
                    <div class="small-12 medium-6 cell">
                        <h3><label for="from-email">Your Email</label></h3>
                        <input id="from-email" type="email" name="fromEmail" value="" required>
                    </div>
        
                    <div class="small-12 cell">
                        <h3><label for="message">Message</label></h3>
                        <textarea rows="10" cols="40" id="message" name="message" required></textarea>
                    </div>
        
                    <div class="small-12 cell align-middle align-center text-center">
                        <input type="submit" value="Send" class="feedback-submit">
                    </div>

                    <input id="ohhoney" name="ohhoney" type="text">
    
                </div>
            </form>
        </div>
    
    </div>
</div>
