<div class="hero_video">
    <video loop muted autoplay>
        <source src="http://www.cwucrimsonandblack.com/assets/img/story-images/nova-scotia-15-second-aerial-video-in-4k-dji-phantom-2.mp4" type="video/mp4">
    </video>
</div>