<div class="site-header__side-menu hide-for-large">
    <nav class="side-menu__nav">
        <div class="side-menu__nav-archive">
            <div class="menu-top menu-top--searchbox">
                <form action="{{ url('search/search-results.html') }}" class="grid-x search">
                    <input class="small-10" type="search" name="q" placeholder="Search" />
                    <button type="submit" class="submit small-2"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="menu-top">
                    <a href="{{siteUrl}}" class="side-menu__nav-archive-link"><i class="nav-archive__icon fas fa-home"></i>Home</a>
            </div>
            <div class="menu-top">
                    <a href="{{siteUrl}}issues/view-all.html" class="side-menu__nav-archive-link"><i class="nav-archive__icon fas fa-file-pdf"></i>Issues</a>
            </div>
        </div>
        <div class="side-menu__nav-recent"><p>Recent Stories</p></div>
        <ul class="side-menu__nav-list">
            {% set entries = craft.entries.section("story") %}
            {% if entries|length %}
            {% set entries = entries.limit(6).orderBy('postDate desc').all() %}
            {% for entry in entries %}
                
                <li><a href="{{ entry.url }}" class="side-menu__nav-list-item">
                    {% if entry.tags.one() == "isFeature" %}
                        <p class="side-menu__tag">Feature</p>
                    {% elseif entry.tags.one() == "News" %}
                        <p class="side-menu__tag">{{ entry.tags.one() }}</p>
                    {% else %}
                        <p class="side-menu__tag">Article</p>
                    {% endif %}
                    {{ entry.title }}
                        {% if entry.writtenBy %}
                            <p class="side-menu__tag">{{ entry.writtenBy }} &bullet; {{ entry.postDate | date("F d, Y") }}</p>
                        {% else %}
                            <p class="side-menu__tag">{{ entry.author }} &bullet; {{ entry.postDate | date("F d, Y") }}</p>
                        {%endif%}
                </a></li>
                <hr class="side-menu__nav-list-item__hr">
            {% endfor %}
            {% endif %}
            <a href="{{siteUrl}}stories/view-all/recent" class="side-menu__more-recent">Read All Stories <i class="fas fa-arrow-right"></i></a>
        </ul>
    </nav>
</div>