<div class="alpha-section">
    <div class="grid-container">
        <div class="gid-x">
            <div class="cell small-12">
                <span class="school-name">Central Washington University</span>
            </div>
        </div>
    </div>
</div>