{% extends "_layout" %}

{% block body %}
<div class="section"></div>
<div class="section issues">
    <div class="grid-container large-8">
        <div class="grid-y">
                <h1>Search Results</h1>
                {% set searchQuery = craft.app.request.getParam('q') %}
                {% set entries = craft.entries()
                    .search(searchQuery)
                    .orderBy('score')
                    .all() %}
                
                {% if entries|length and searchQuery|length > 0  %}
                    <p>
                        Your search for “{{ searchQuery }}” returned {{ entries|length }} results
                    </p>
                
                    <ul class="no-bullet">
                        {% for entry in entries %}
                            <li>
                                <a href="{{ entry.url }}">{{ entry.title }}<br><span class="subheader">{{entry.url}}</span></a>
                                <p>{{entry.storyLeadParagraph|length > 200 ? entry.storyLeadParagraph|striptags|slice(0, 200) ~ '...' : entry.storyLeadParagraph}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Your search for “{{ searchQuery }}” did not return any results.</p>
                {% endif %}
        </div>
        </div>
    </div>


{% endblock %}
