{% extends "_layout" %}

{% block body %}
{% set type = craft.request.lastSegment %}
{% set issue = craft.request.getSegment(2) %}
<div class="section"></div>
    <div class="grid-container">
        <div class="medium-10">
            {% if type == 'alumni' %}
                <h1>Alumni Briefs</h1>
            {% elseif type == 'campus' %}
                <h1>Campus Briefs</h1>
            {% else %}
                <h1>All Videos</h1>
            {% endif %}
            <p>Learn. Do. Live.</p>
        </div>


        {% if type == 'videos' %}
            <div class="cell medium-10 medium-offset-1 media-container">
                <div class="grid-x grid-margin-x grid-margin-y">
                    {% for entry in craft.entries.section('mediaAsset').limit(4) %}
                    <div class="cell medium-6">
                        <div class="responsive-embed widescreen media-item">
                            <iframe src="{{ entry.media }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}




        <div class="grid-x">
            <!-- grab all briefs -->
            {% set briefs = craft.entries.section('brief') %}
            <!-- loop through each brief -->
            {% for eachBrief in briefs %}
                <!-- loop through related issues -->
                {% set parentIssue = craft.entries.section('issues').relatedTo(eachBrief) %}
                <!-- grab single issue -->
                {%for single in parentIssue%}
                    {% set issueSlug = single.slug %}
                    {% if  issueSlug == issue and eachBrief.briefType == type %}
                        
                            <div class="briefs__item medium-10 medium-offset-1">
                                <div class="grid-x grid-margin-x">
                                    {% if eachBrief %}
                                        {% set img = eachBrief.storyMainImage.first() %}
                                        {% if img %}
                                            <!-- <div class="cell medium-3 grid-x small-margin-collapse">
                                                <img src="{{img.getUrl}}" alt="{{eachBrief.title}}">
                                            </div> -->
                                            <div class="cell">
                                                <p><span>{{eachBrief.title}} | {{ eachBrief.postDate | date("M d, Y") }}</span><br/>{{eachBrief.issueDescription}}</p> 
                                            </div>
                                        {% endif %}
                                        {% if not img %}
                                        <div class="cell">
                                                <p><span>{{eachBrief.title}} | {{ eachBrief.postDate | date("M d, Y") }}</span><br/>{{eachBrief.issueDescription}}</p> 
                                            </div>
                                        {% endif %}

                                    {% endif %}
                                </div>
                            </div>
                    {% endif %}
                {%endfor%}
            {% endfor %}
        </div>
    </div>





{% endblock body %}