{% extends "_layout" %}

{% block body %}
    <div class="section"></div>
    <div class="grid-container">
        <div class="grid-x">
            <div class="large-8 large-offset-2">
                <h1 class="">Thank you for your feedback, {{ craft.app.request.getQueryParam('from') }}</h1>
            </div>
            <div class="large-8 large-offset-2">
                <p>Your message <span class="caption">{{ craft.app.request.getQueryParam('message') }}</span> from e-mail {{ craft.app.request.getQueryParam('email') }} will be read as soon as possible and your feedbac is greatly appreciated.</p>
            </div>
        </div>
    </div>
{% endblock  %}