{% extends "_layout" %}

{% block body %}
<div class="grid-container">
    <div class="issues">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell small-12">
                <h1>{{entry.title}} Issue</h1>
                <p>Learn. Do. Live.</p>
            </div>
    
            <div class="cell small-10 small-offset-1 medium-3 medium-offset-1">
                    {% set covers = entry.cover.all() %}
                    {% for asset in covers %}
                    <img class="issues__img" src="{{asset.getUrl}}" alt="">
                    {% endfor %}<!--END ISSUE COVER-->
                    <p>{{entry.issueDescription}}</p>
                    
                    <ul class="no-bullet">
                    {% set section = craft.entries.section('mediaBox').relatedTo(entry)%}
                    {% set entries = section.all() %}
                    {% for entry in entries %}
                        {% if entry.mediaType == "alumniBrief" %}
                            <li>
                                <a href="{{entry.url}}">Alumni Briefs</a>
                            </li>
                        {% elseif entry.mediaType == "campusBrief" %}
                            <li>
                                <a href="{{entry.url}}">Campus Briefs</a>
                            </li>
                        {% endif %}

                    {% endfor %}
                    </ul>
                    {% set pdfs = entry.issuePdf %}
                    {% for pdf in pdfs %}
                        <a href="{{ pdf.getUrl }}" target="_blank" class="button secondary feedback-open"><i class="fa fa-file-pdf"></i>Download PDF</a>
                    {% endfor %}
            </div>
    
            <div class="cell small-10 small-offset-1 medium-6 medium-offset-0">
                    <!-- LIST STORIES INSIDE THIS ISSUE -->
                    <h6>Stories inside this issue:</h6>
                    {% set relatedStories = craft.entries.section('story').relatedTo(entry).all() %}
                    <ul>
                        {% for story in relatedStories %}
                        
                            <li><a href="{{story.url}}">{{story.title}}</a></li>
                        <p>{{story.storyLeadParagraph | chop(limit=12, unit='w', append='...')}}</p>
    
                    {% endfor %}
                    </ul> 
            </div>
        </div>
    </div>
</div>
{% endblock body%}