{% extends "_layout" %}

{% block body %}
{% set entries = craft.entries.section('issues').all() %}

<div class="issues">
        <div class="grid-container">
                <div class="grid-x">
                    <div class="issues__meta ell medium-10">
                        <h1>Print Issues</h1>
                        <p>Learn. Do. Live.</p>
                    </div>
                    <div class="cell small-12 medium-10 medium-offset-1">
                            <div class="grid-x grid-margin-x grid-margin-y">
                                    {% for entry in entries %}
                                    <div class="cell small-10 small-offset-1 medium-4 medium-offset-0">
                                        {% set covers = entry.cover.all() %}
                                        {% for asset in covers %}
                                            <a href="{{ entry.url }}">
                                                <img class="issues__img" src="{{asset.getUrl}}" alt="">
                                            </a>
                                            <p>{{ entry.title }} Issue</p>
                                        {% endfor %}
                                    </div>
                                    {% endfor %}
                            </div>
                    </div>
                </div>         
        </div>
</div>   
{% endblock body %}