{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request. No setup is involved to get your
 # 404 page working; you just need to call it 404.html and put it
 # at the root of your craft/templates/ folder.
 #
 # You can also create 400.html, 403.html, 500.html, and 503.html
 # templates if you’d like. If Craft can’t find an error template
 # to match the error code, it will just use the one in
 # craft/app/templates/ instead.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "404" %}

{% block body %}
	<div class="section"></div>
	<div class="grid-container">
		<div class="grid-x grid-margin-y">
			<div class="cell section">
				<h1>Page Not Found</h1>
			</div>
			<p>The page you are looking for was not found. The page may have moved or may no longer exist.</p>
		</div>
	</div>

	{% set featureItems = craft.entries({
		section: 	'story',
		search: 	'isFeatured:1',
		limit:		3
	}) %}

	{% set storyType = 'Feature' %}
	{% set entries = featureItems.all() %}
	{% paginate featureItems as pageInfo, pageEntries %}

	<section class="article__list-all">
		<div class="grid-container">
			<h2>Other Stories</h2>
			<div class="grid-x grid-margin-x grid-margin-y" data-equalizer>
					{% for entry in pageEntries %}
					{% if entry.isFeatured %}
						{% set storyType = 'Feature' %}
					{% else %}
						{% set storyType = 'News' %}
					{% endif %}
					<div class="cell medium-6 large-4 article">
						<a href="{{ entry.url }}">
						<article class="article-list-all__item"  data-equalizer-watch>
							<p class="artile__category">{{ storyType }}</p>
								<h2>{{ entry.title }}</h2>
							<p class="article__lead-paragraph">
								{{ entry.storyLeadParagraph | chop(limit=15, unit='w', append='...') }}
							</p>
							<button class="article__single-link button">read it</button>
							<span class="slider"></span>
						</article>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	
{% endblock %}
