<!doctype html>
<html class="no-js" lang="en">
    <head>
        {% include "components/_analytics" %}

        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if entry.title is defined %}{{ entry.title }} - {% endif %}{{ siteName }}</title>
        <link rel="stylesheet" href="{{ siteUrl }}assets/css/app.css">
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Lato|Roboto:400,500,700" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    </head>
<body>
{% block progress %}{% endblock %}
{% include "components/_school-name.html" %}
    <header class="site-header">
        <div class="grid-container">
            <div class="grid-x align-middle">
                <div class="masthead small-11 large-7">
                    <a class="masthead-a" href="{{siteUrl}}"><img src="{{ siteUrl }}assets/img/logo.png" alt="" class="logo" class="float-center"></a>
                </div>

                <!-- Show for small and medium only -->
                <div class="open-menu-label small-1 align-right hide-for-large">
                    <span class="pipe pipe__one"></span>
                    <span class="pipe pipe__two"></span>
                    <span class="pipe pipe__three"></span>
                </div> <!-- end menu trigger -->

                <!-- Show for large only -->
                <div class="large-2 show-for-large">
                    <ul class="menu simple">
                        <li><a href="{{siteUrl}}">Home</a></li>
                        <li><a href="{{siteUrl}}issues/view-all.html">Issues</a></li>
                    </ul>
                </div>
                <div class="align-right large-3 show-for-large">
                    <form action="{{ url('search/search-results.html') }}" class="large-11 lg-only-search">
                        <input class="large-10 lg-only-search-input" type="search" name="q" placeholder="Search" />
                        <button class="large-2" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </header><!-- header -->
    {% include "components/_menu.html" %}
{% block hero %}{% endblock %}
    
{% block body %}{% endblock %}
            </div><!-- end stories-wrapper -->
        </div><!-- end stories-issue -->
    </div><!-- end issue -->
</div><!-- end content-main -->

<div class="footer-actions">
    <div class="container">
        <div class="footer actions text-center">
            <button class="button secondary feedback-open" data-open="reveal-form">Give us Feedback</button>
            <!-- <a href="#" class="button secondary">Pitch a Story</a>
            <a href="#" class="button secondary">Submit Alumni Bio</a> -->
        </div>

        <!-- {% block footer_actions %}{% endblock %} -->
    </div>
    {% include "components/_feedback.html" %}
</div>
<footer class="site-footer">
    <div class="grid-container">
        <div class="site-footer-content">
            <div class="footer-logo"></div>
            <div class="footer-contact">
                <p>400 E. University Avenue<br />
                    Ellensburg, WA 98926<br />
                    Copyright &copy; 2018 Central Washington University<br />

                    Privacy    |    Disclosure    |    EEO
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="/assets/js/app.js"></script>

</body>
</html>
