{% extends "_layout" %}

{% block hero %}
<div class="content-main">
    <div class="issue">
        <div class="hero">
            <div class="cell slider-image-container">
                {% set entries = craft.entries.section('story').isFeatured(1) %}
                {% if entries|length %}
                    {% set entries = entries.limit(1).orderBy('postDate desc').all() %}
                    {% for entry in entries %}
                        {% set items = entry.storyMainImage.all() %}
                        {% for asset in items %}
                            <div class="replaced">
                                <!-- {% include "components/_hero-video.html" %} -->
                                <a href="{{ entry.url }}" class="feature-story-title-link"><img src="{{ asset.getUrl('mainImage') }}" alt="{{ entry.title }}">
                                
                                <div class="feature-story-meta show-for-medium">
                                    <div class="grid-container">
                                        {% set entries = craft.entries.section('story').isFeatured(1) %}
                                        {% if entries|length %}
                                        {% set entries = entries.limit(1).orderBy('postDate desc').all %}
                                        {% for entry in entries %}
                                            <h1 class="feature-story-title">
                                                {{ entry.title }}</a>
                                            </h1>
                                            
                                            <div class="story-summary">{{ entry.storyLeadParagraph | chop(limit=20, unit='w', append='...') }}
                                                {% if entry.writtenBy%}
                                                    <p><small>By {{ entry.writtenBy }} &bull; {{ entry.postDate.getTimestamp() | timeAgo }}</small></p>
                                                {% else %}
                                                    <p><small>By {{ entry.author }} &bull; {{ entry.postDate.getTimestamp() | timeAgo }}</small></p>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                </div><!-- end feature-story-meta -->
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div><!-- end hero -->

        <div class="stories-issue">
            <div class="feature-story-meta-small show-for-small-only">
                <div class="grid-container">
                    {% set entries = craft.entries.section('story').isFeatured(1) %}
                    {% if entries|length %}
                    {% set entries = entries.limit(1).orderBy('postDate desc').all() %}
                    {% for entry in entries %}
                        <h1 class="feature-story-title">
                            <a href="{{ entry.url }}">{{ entry.title }}</a>
                        </h1>
                        <div class="story-summary">{{ entry.storyLeadParagraph | chop(limit=20, unit='w', append='...') }}</div>
                        {% if entry.writtenBy %}
                            <div class="byline"><span class="byline-label">By</span> {{ entry.writtenBy }}</div>
                            <div class="pub-date">{{ entry.postDate | date("M d, Y") }}</div>
                        {% else %}
                            <div class="byline"><span class="byline-label">By</span> {{ entry.author }}</div>
                            <div class="pub-date">{{ entry.postDate | date("M d, Y") }}</div>
                        {%endif%}

                    {% endfor %}
                    {% endif %}
                </div>
                <hr class="section-divider">
            </div><!-- end feature-story-meta -->
{% endblock %}

{% block body %}

<!-- feature stories -->
<div class="stories-wrapper">
    <div class="stories-issue-inner-wrap">
        <div class="section feature-sections">
            <div class="grid-container">
                <div class="grid-x align-middle section-title">
                    <div class="cell small-6">
                        <h2 class="subheader">Feature Stories</h2>
                    </div>
                    <div class="cell small-6 text-right all-link">
                        <p><a href="stories/view-all/feature">All Feature</a></p>
                    </div>
                </div>
            </div><!-- end section-title -->

            <div class="grid-container hide-for-small-only">
                <div class="grid-x grid-margin-x grid-margin-y feature-stories">
                    {% set entries = craft.entries.section('story').isFeatured(1) %}
                    {% if entries|length %}
                    {% set entries = entries.offset(1).limit(6).orderBy('postDate desc').all %}
                    {% for entry in entries %}
                    {% set i = entry.storyMainImage.all() %}
                    {% for asset in i %}
                    <a href="{{ entry.url }}"><div class="cell medium-6 large-4">
                        <div class="nav-sections-feature-story">
                            <div class="blanket"></div>
                            {% for asset in i %}
                                <img src="{{ asset.getUrl('categoryFeatureSmall') }}" alt="{{ entry.title }}" />
                            {% endfor %}

                            <div class="nav-sections-feature-story__content">
                                <h3>{{ entry.title }}</h3>
                                {% if entry.writtenBy%}
                                    <p><small>By {{ entry.writtenBy }} &bull; {{ entry.postDate.getTimestamp() | timeAgo }}</small></p>
                                {% else %}
                                    <p><small>By {{ entry.author }} &bull; {{ entry.postDate.getTimestamp() | timeAgo }}</small></p>
                                {% endif %}
                            </div><!-- .nav-section-feature-story__content -->
                        </div><!-- .nav-section-feature-story -->
                    </a>

                        <div class="nav-sections-feaature-story__common-stories">
                            <p>{{ entry.storyLeadParagraph | chop(limit=12, unit='w', append='...') }}</p>
                        </div><!-- .nav-section-common-stories -->
                    </div><!-- end feature-stories item -->
                    {% endfor %}
                    {% endfor %}
                    {% endif %}
                    <div class="cell">
                        <hr class="section-divider">
                    </div>
                </div><!-- end feature-stories -->
            </div><!-- end feature-stories wrapper -->

            <!-- small only nav -->
            <div class="grid-container show-for-small-only">
                <div class="grid-x grid-margin-y">
                    {% set entries = craft.entries.section('story').offset(1).limit(4).orderBy('postDate desc') %}

                    {% set entries = entries.all() %}

                    {% if entries|length %}
                    {% for entry in entries %}
                    {% set items = entry.storyMainImage.all() %}
                    {% for asset in items %}
                    <a href="{{ entry.url }}">
                        <div class="cell medium-4 large-3 feature-story-list__item">
                            <div class="grid-x grid-margin-x">
                                <div class="cell small-4">
                                    <img src="{{ asset.getUrl('categoryFeatureSmall') }}" alt="{{ entry.title }}" />
                                </div>
                                <div class="cell small-8">
                                        <h3>{{ entry.title }}</h3>
                                        <p class="">{{ entry.storyLeadParagraph | chop(limit=15, unit='w', append='...') }}</p>
                                </div>
                            </div>
                        </div><!-- end feature-story-small-view item -->
                    </a>
                    {% endfor %}
                    {% endfor %}
                    {% endif %}
                    <div class="cell">
                        <hr class="section-divider">
                    </div>
                </div><!-- end feature-story-small-view item wrapper -->
            </div><!-- end feature-story-small-view -->
        </div><!-- end section.feature-sections -->
    </div><!-- end stories-issue-inner-wrap -->
<!-- end feature stories -->

<!-- recent stories -->
<div class="section web-exclusive">
    <div class="grid-container">
        <div class="grid-x align-middle section-title">
            <div class="cell small-6">
                <h2 class="subheader">Recent Stories</h2>
            </div>
            <div class="cell small-6 text-right all-link">
                <p><a href="stories/view-all/recent">All Recent</a></p>
            </div>
        </div>
    </div><!-- end section title -->
    <div class="grid-container hide-for-small-only">
        <div class="grid-x grid-margin-x grid-margin-y recent-stories">
            {% set entries = craft.entries.section('story').limit(8).orderBy('postDate desc') %}
            {% set i = entries.all() %}
            {% for entry in i %}
                <div class="cell medium-4 large-3 item">
                    <div class="story-wrapper">
                        {% set items = entry.storyMainImage.all() %}
                        {% for asset in items %}
                            <a href="{{ entry.url }}"><img src="{{ asset.getUrl('smallHorizontal') }}" alt="{{ entry.title }}" />
                        {% endfor %}
                        <h3>{{ entry.title }}</a></h3>
                        <p>{{ entry.storyLeadParagraph | chop(limit=10, unit='w', append='...') }}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="cell">
                <hr class="section-divider">
            </div>
        </div>
    </div><!-- end recent-stories wrapper -->
    <div class="grid-container show-for-small-only">
        <div class="grid-x grid-margin-y">
            {% set entries = craft.entries.section('story').limit(8).orderBy('postDate desc').all() %}
            {% for entry in entries %}
            <div class="cell medium-4 large-3">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-12">
                        <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
                        <p>{{ entry.storyLeadParagraph | chop(limit=20, unit='w', append='...') }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="cell">
                <hr class="section-divider">
            </div>
        </div><!-- end recent-stories-item-wrapper small view -->
    </div><!-- end recent-stories-small-view -->
</div><!-- end section.web-exclusive -->
<!-- end recent stories -->

<!-- media -->
<div class="section media">
	<div class="grid-container">
		<div class="grid-x align-middle section-title">
			<div class="cell small-6 medium-6 large-4">
				<h2 class="subheader">CWU Videos</h2>
			</div>
			<div class="cell small-6 medium-6 large-4 text-right all-link">
				<p><a href="/videos">All Videos</a></p>
			</div>
		</div>
	</div>
	<div class="grid-container">
		<div class="grid-x grid-margin-x grid-margin-y">
			<div class="cell medium-12 large-8 media-container">
				<div class="grid-x grid-margin-x grid-margin-y">
                    {% set entries = craft.entries.section('mediaAsset').limit(4).all() %}
					{% for entry in entries %}
					<div class="cell medium-6">
						<div class="responsive-embed widescreen media-item">
							<iframe src="{{ entry.media }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="cell medium-12 large-4">
				<div class="register-box-form grid-y" style="height: 100%">
					<div class="cell large-12">
                        <div id="mc_embed_signup">
                            <form action="https://gmail.us20.list-manage.com/subscribe/post?u=9991dfecbdbb6ec35390a066f&amp;id=df1c147e11" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <h4>Receive the latest news in your inbox.</h4>
                                    <div class="mc-field-group">
                                        <input type="text" value="" name="FULLNAME" class="required" id="mce-FULLNAME" placeholder="* Full Name">
                                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="* Email Address">
                                    </div>
                                    </div>
                                    
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response text-left" id="mce-success-response" style="display:none"></div>
                                    </div>    
                                    
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9991dfecbdbb6ec35390a066f_df1c147e11" tabindex="-1" value=""></div>
                                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button expanded"></div>
                                </div>
                            </form>
                        </div>
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FULLNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                        <!--End mc_embed_signup-->
                    </div>
				</div>
			</div>
		</div>
	</div>
</div><!-- end section.media -->
<!-- end media -->
{% endblock %}
