@mixin deg-line($height, $gap, $bg-color, $line-color, $margin-top, $margin-bottom){
  height: $height;
  background-color: $bg-color;
  margin: $margin-top 0 $margin-bottom 0;
  border: none;
  background-image:
    -webkit-repeating-linear-gradient(45deg, $line-color, $line-color 1px, transparent 1px, transparent $gap);
  background-image:
    -moz-repeating-linear-gradient(45deg, $line-color, $line-color 1px, transparent 1px, transparent $gap);
  background-image:
    -o-repeating-linear-gradient(45deg, $line-color, $line-color 1px, transparent 1px, transparent $gap);
  background-image:
    repeating-linear-gradient(45deg, $line-color, $line-color 1px, transparent 1px, transparent $gap);
}

// 4. Web Exclusive
// ---------
.web-exclusive {
  p {
    margin-bottom: 0;
  }
  .h3 {
    line-height: 1.25rem;
  }
  .story-wrapper {
    img {
      margin-bottom: $element-vertical-space;
    }
  }
  .recent-stories .cell.medium-4.large-3:nth-child(4) {
    @include breakpoint(medium down){
      display: none;
    }
  }
}


// 5. Feature sections
// ---------
.nav-sections-feature-story {
  position: relative;
  z-index: 1;
   margin-bottom: $element-vertical-space;
  .blanket {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba($black, .5);
  }
}
.nav-sections-feature-story__content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding-right: 20px;
  z-index: 500;
  color: darken($white, 10%);
  p {
    margin-bottom: 0;
    & small {
      font-family: $body-font-family-sans;
    }
  }
  h5 {
    text-transform: none;
    margin-bottom: 0;
  }
  a {
    color: $white;
  }
}
.feature-sections .feature-stories .cell.medium-6.large-4:nth-child(4),
.feature-sections .feature-stories .cell.medium-6.large-4:nth-child(3) {
  @include breakpoint(medium down){
    display: none;
  }
  @include breakpoint(large){
    display: block;
  }
}
.nav-sections-feaature-story__common-stories {
  ul {
    list-style-position: inside;
    margin-left: 0;
    li {
      border-bottom: 1px solid $medium-gray;
      padding: 7px 0;
      color:$red;
      a {
        display: inline-block;
        color: $top-tier-link-color;
        font-family: $body-font-family-sans;
        max-width: 300px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle;
      }
    }
  }
}
.nav-section-small {
  background-color: $light-gray;
  padding: 20px;
  ul {
    list-style: none;
    margin: 0;
    margin-bottom: $element-vertical-space;
  }
  li {
    border-bottom: 1px solid $medium-gray;
    padding: 7px 0;
  }
}
.nav-section-small.section-title {
  h2 {
    margin-bottom: $element-section-title-vertical-space;
  }
}


// 6. Video
// ---------
.section.media {
  padding-bottom: 160px;
  margin-bottom: 0;
}
.responsive-embed {
  margin-bottom: 0;
}
.media-container {
  .responsive-embed {
    margin-bottom: 0;
  }
}