@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'base';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700');
@import url('https://fonts.googleapis.com/css?family=Chivo:300,900');

// Crimson and Black Components
@import 'components/global';
@import 'components/masthead';
@import 'components/hero';
@import 'components/index-sections';
@import 'components/register-box';
@import 'components/single';
@import 'components/footer';
@import 'components/menu';
@import 'components/view-all';
@import 'components/disqus';
@import 'components/feedback';
@import 'components/aside';
@import 'components/view-all--issues';
@import 'components/briefs';
@import 'components/search';
@import 'components/hero-video';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
//
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;
//
// @include motion-ui-transitions;
// @include motion-ui-animations;

// Custom Headings
//--------
h1, h2, h3, h4, h5, h6  {font-family: $body-font-family-sans; line-height: 1.5rem;}
h1, .alpha-heading      {}
h2, .beta-heading       {font-size: 1.5rem; font-weight: 300;}
h3, .gamma-heading      {font-size: 1.25rem; font-weight: 700;}
h4, .delta-heading      {font-size: 1.75rem; font-weight: 700;}
h5, .epsilon-heading    {font-size: 1rem; font-weight: 700; text-transform: uppercase;}
