{% extends "_layout" %}

{% block body %}
<div class="section"></div>

<div class="grid-container single-story">
    <div> 
        <h1 class="title">{{entry.title}}</h1>
        <p>Learn. Do. Live.</p>
    </div>
    {% for block in entry.mediaBoxContent %}
    {% set pos =  block.mediaBoxImagePosition %} 
    
        {% if block.type == 'mediaBoxItem' %}
            {% set img = block.mediaBoxImage.first() %}
            <div class="grid-container">
                {% if block.mediaBoxTitle %}
                <div class="medium-10 medium-offset-1">
                        <h2>{{ block.mediaBoxTitle }}</h2><hr/>
                    </div>
                {% endif %}
                <div class="section grid-x">
                    <div class="medium-10 medium-offset-1">

                        {% if img %}
                            {% if pos == "left" %}
                            <div class="grid-x">

                                <div class="single-story text-center medium-4">
                                    <img src="{{ img.getUrl() }}" alt="">
                                </div>
                                <div class="cell small-12 medium-8">
                                        <p>{{ block.mediaBoxText }}</p>
                                </div>
                            </div>

                            {% elseif pos == "center" %}
                            <div class="grid-x">

                                    <div class="small-4 small-offset-4">
                                        <img src="{{ img.getUrl() }}" alt="">
                                    </div>
                                    <div class="cell small-121">
                                            <p>{{ block.mediaBoxText }}</p>
                                    </div>
                                </div>
                            {% elseif pos == "right" %}
                            <div class="grid-x flex-dir-row-reverse">

                                    <div class="grid-container small-12 text-center medium-4">
                                        <img src="{{ img.getUrl() }}" alt="">
                                    </div>
                                    <div class="cell small-12 medium-8">
                                            <p>{{ block.mediaBoxText }}</p>
                                    </div>
                                </div>
                            {% else %}
                            <div class="grid-x">

                                    <div class="small-12">
                                        <img src="{{ img.getUrl('singleFull') }}" width="{{ img.getWidth('singleFull') }}"
                                        height="{{ img.getHeight('singleFull') }}" alt="">
                                    </div>
                                    <div class="cell small-12">
                                            <p>{{ block.mediaBoxText }}</p>
                                    </div>
                                </div>
                            
                            {% endif %}
                        {% else %}
                        <div class="grid-x">
                            <div class="cell small-12">
                                    <p>{{ block.mediaBoxText }}</p>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                    
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock body %}