<div class="hero">
    <div class="cell slider-image-container">
        {% set image = entry.storyMainImage.one() %}
        {% if image %}
            <div class="replaced">
                <img src="{{ image.getUrl }}" alt="{{ entry.title }}">                        
            </div>
        {% endif %}
    </div>
</div><!-- end hero -->
<div class="grid-container">
    <div class="grid-x">
        <div class="cell small-12 medium-10 large-10 medium-offset-1">
            <div class="meta">
                <h1 class="title">
                    {{ entry.title }}
                </h1>
                {% if entry.writtenBy %}
                <div class="byline small-12 medium-10">
                    <div><span class="byline-label">Story By</span> {{ entry.writtenBy }} | Written on {{ entry.postDate | date("M d, Y") }} 
                        {% if entry.photographerSource %}
                           | Photo courtesy by {{ entry.photographerSource }}</div></div>
                        {% else %}
                            </div></div>
                        {% endif %}
                {% else %}
                    <div class="byline small-12 medium-10">
                        <div><span class="byline-label">Story By</span> {{ entry.author }}  | Written on {{ entry.postDate | date("M d, Y") }}</div></div>
                {%endif%}
            </div>
        </div>
    </div>
</div>