<div class="grid-container">
    <div class="grid-x">
        <div class="cell small-12 medium-10 medium-offset-1 large-10 large-offset-1 component-story__lead-paragraph">
            {{ entry.storyLeadParagraph }}
        </div>
        <div class="cell small-12 medium-10 medium-offset-1 single-story">
            {% set entry = entry.contentBlock.all() %}
            {% for block in entry %} 
            {% if block.type == "storyBlock" %} {{ block.longText }}
                {% elseif block.type == "storyImage" %} 
                {% set image = block.image.one() %} 
                {% if image %} 
                    {% if block.position == "left" or block.position == "right"
            %}
            <div  class="align--{{ block.position }}">
                <img src="{{ image.getUrl('singlePulled') }}" width="{{ image.getWidth('singlePulled') }}"
                height="{{ image.getHeight('singlePulled') }}" alt="{{ image.title }}">
                <p class="caption"><small>{{block.caption}}</small></p>
            </div>

            {% elseif block.position == "center" %}
            <div class="align--{{block.position}}">
                <img src="{{ image.getUrl('singleCenter') }}" width="{{ image.getWidth('singleCenter') }}" height="{{ image.getHeight('singleCenter') }}" alt="{{image.title }}">
                <p class="caption"><small>{{block.caption}}</small></p>
            </div>
            {% else %}
            <div class="grid-xx" class="align--{{ block.position }}" >
                <img src="{{ image.getUrl('singleFull') }}" width="{{ image.getWidth('singleFull') }}"
                    height="{{ image.getHeight('singleFull') }}" alt="{{ image.title }}">
                <p class="caption"><small>{{block.caption}}</small></p>
            </div>
            {% endif %} {% endif %} {% elseif block.type == "pullQuote" %} {% if block.makeInline == "1" %}
            <div class="component-pullquote align-inline">
                {% elseif block.makeInline == "0" %}
                <div class="component-pullquote align-aside">
                    {% endif %}
                    <div class="pullquote-wrapper">
                        <div class="matrix-pullquote">
                            <p class="quote">&#8220;{{ block.quote }}&#8221;
                                <br />
                                <small>&mdash;{{ block.qByLine }}</small>
                            </p>
                        </div>
                    </div>
                </div>

                {% elseif block.type== "asideText" %} 
                {% if block.makeInline == "1" %}
                <div class="aside align-inline">
                    {% elseif block.makeInline == "0" %}
                    <div class="aside align-aside">
                        {% endif %}
                        <div class="aside--sidebar">
                            {% set image = block.image.first() %} {% if image %}
                            <img src="{{image.getUrl()}}" alt="{{block.imageDescription}}">
                            {% endif %}
                            <h3>{{ block.asideTitle }}</h3>
                            <p>{{ block.asideContent }}</p>
                        </div>
                    </div>

                    {% elseif block.type == "videoBlock" %} {% if block.videoSource == "youtube" %}

                    <!-- The YouTube video -->

                    <figure class="content-media content-media--video" id="featured-media">
                        <iframe class="content-media__object" id="featured-video" src="{{ block.videoUrl }}?enablejsapi=1&amp;rel=0&amp;showinfo=0&amp;controls=0"
                            frameborder="0"></iframe>
                    </figure>

                    {% elseif block.videoSource == "vimeo" %}
                    <p>vimeo</p>
                    {% endif %} {% endif %} {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>