<div>

    {% set pos =  block.mediaBoxImagePosition %} 
    
        {% if block.type == 'mediaBoxItem' %}
            {% set img = block.mediaBoxImage.first() %}
            <div>
                {% if block.mediaBoxTitle %}
                <div>
                        <h2>{{ block.mediaBoxTitle }}</h2><hr/>
                    </div>
                {% endif %}
                <div class="section grid-x">
                    <div>

                        {% if img %}
                            {% if pos == "left" %}
                            <div class="single-story grid-x grid-padding-x">

                                <div class="align--{{pos}} medium-4">
                                    <img src="{{ img.getUrl() }}" alt="{{img.title}}">
                                </div>
                                <div class="cell small-12 medium-8">
                                        <p>{{ block.mediaBoxText }}</p>
                                </div>
                            </div>

                            {% elseif pos == "center" %}
                            <div class="grid-x">

                                    <div class="small-4 small-offset-4">
                                        <img src="{{ img.getUrl() }}" alt="{{img.title}}">
                                    </div>
                                    <div class="cell small-121">
                                            <p>{{ block.mediaBoxText }}</p>
                                    </div>
                                </div>
                            {% elseif pos == "right" %}
                            <div class="single-story grid-x flex-dir-row-reverse">

                                    <div class="align--{{pos}} grid-container small-12 medium-4">
                                        <img src="{{ img.getUrl() }}" alt="{{img.title}}">
                                    </div>
                                    <div class="cell small-12 medium-8">
                                            <p>{{ block.mediaBoxText }}</p>
                                    </div>
                                </div>
                            {% else %}
                            <div class="grid-x">

                                    <div class="small-12">
                                        <img src="{{ img.getUrl('singleFull') }}" width="{{ img.getWidth('singleFull') }}"
                                        height="{{ img.getHeight('singleFull') }}" alt="{{img.title}}">
                                    </div>
                                    <div class="cell small-12">
                                            <p>{{ block.mediaBoxText }}</p>
                                    </div>
                                </div>
                            
                            {% endif %}
                        {% else %}
                        <div class="grid-x">
                            <div class="cell small-12">
                                    <p>{{ block.mediaBoxText }}</p>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                    
                </div>
            </div>
        {% endif %}
</div>