<div class="grid-container">
    <div class="section single-story">
            <div class="cell small-12 medium-10 medium-offset-1">
                <div class="story-meta {{ txtPos }}">
                    <div class="component-share">
                        <ul class="links menu simple social">
                            <li data-service="twitter">
                                <a href="http://twitter.com/intent/tweet?url={{ entry.url }}&amp;text={{ entry.title }}%20%E2%80%93%20CWU%20Crimson%20and%20Black">
                                    <svg role="image" title="Share on Twitter" viewBox="0 0 32 32">
                                        <use xlink:href="/assets/img/social.svg?v=1.0.0#twitter"></use>
                                    </svg>
                                    <span class="service-label">Twitter</span>
                                </a>
                            </li>
                            <li data-service="facebook">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ entry.url }}">
                                    <svg role="image" title="Share on Facebook" viewBox="0 0 32 32">
                                        <use xlink:href="/assets/img/social.svg?v=1.0.0#facebook"></use>
                                    </svg>
                                    <span class="service-label">Facebook</span>
                                </a>
                            </li>
                            <li data-service="linkedin">
                                <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ entry.url }}&amp;title={{ entry.title }}%20%E2%80%93%20CWU%20Crimson%20and%20Black">
                                    <svg role="image" title="Share on Linkedin" viewBox="0 0 32 32">
                                        <use xlink:href="/assets/img/social.svg?v=1.0.0#linkedin"></use>
                                    </svg>
                                    <span class="service-label">Linkedin</span>
                                </a>
                            </li>
                            <li data-service="email">
                                <a href="mailto:?subject={{ entry.title }}%20CWU%20Crimson%20and%20Black&amp;body={{ entry.title }}%20%E2%80%93%20CWU%20Crimson%20and%20Black%0A%0A{{ entry.url }}">
                                    <svg role="image" title="Share on Email" viewBox="0 0 32 32">
                                        <use xlink:href="/assets/img/social.svg?v=1.0.0#email"></use>
                                    </svg>
                                    <span class="service-label">Email</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</div>