<div class="grid-container">
    
    <div class="issues grid-x">
        <div class="cell small-12 medium-10 medium-offset-1 single-story">
                <h5>This story, and many more can be found in this issue:</h5>
        </div>
        {% set relatedIssues = craft.entries.section('issues').relatedTo(entry) %}
        {% for story in relatedIssues %}
        {% for asset in story.cover %}
        <div class="issues__issue small-4 large-2">
            <a href="{{ story.url }}">
                <img src="{{asset.getUrl}}" alt="">
                <h2>{{ story.title }}</h2>
            </a>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
